# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Project-specific data directories
data/raw/*.nc
data/raw/*.zip
data/processed/*.csv
!data/processed/sample_*.csv
data/processed/*.pt


